::selection {
  background: #d3d3d3;
  color: #555;
}

::-moz-selection {
  background: #d3d3d3;
  color: #555;
}

::-webkit-selection {
  background: #d3d3d3;
  color: #555;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue",
    "Microsoft Yahei", sans-serif;
  font-size: 16px;
  line-height: 1.9;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.3;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.post-content a[target="_blank"]::after,
header a[target="_blank"]::after {
  display: inline-block;
  margin-left: 2px;
  font-family: system-ui;
  font-weight: 700;
  content: "↗";
  transform: scale(0.7) translate(-3px, 4px);
  transform-origin: right top;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  border: 0;
  border-radius: 4px;
}

* {
  box-sizing: border-box;
}

/* Style
-------------------------------------------------- */
body {
  background: #fafafa;
  overflow-x: hidden;
  overflow-y: scroll;
}

.home:not(.single) .header {
  background: #fff;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.08);
}

/* Header
-------------------------------------------------- */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
}

.header a {
  position: relative;
  z-index: 1;
}

.logo {
  display: inline-block;
  width: 70px;
  height: 70px;
  background: url(https://cdn.zburu.com/author1.png) 50% / cover no-repeat;
  border-radius: 50%;
}

.ins::after {
  position: absolute;
  top: -8px;
  right: -16px;
}

.ins:hover {
  filter: none;
}

.ins:hover::after {
  color: #9f42a4;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav a {
  padding-inline: 28px;
  line-height: 64px;
  letter-spacing: 1px;
  transition: all 0.1s linear;
  white-space: nowrap;
}

.nav a.active,
.nav a:hover {
  opacity: 0.3;
}

@media (min-width: 769px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 9;
    background: #fafafa;
    backdrop-filter: saturate(180%) blur(16px);
  }
}

@media (max-width: 768px) {
  .header {
    display: block;
    padding: 20px;
    text-align: center;
  }

  .ins {
    margin-left: 8px;
  }

  .nav a {
    padding-inline: 12px;
  }
}

@media (max-width: 320px) {
  .nav a {
    padding-inline: 8px;
  }
}

/* Page
-------------------------------------------------- */
.main {
  max-width: 640px;
  margin: 40px auto;
}

.section {
  padding: 24px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.08);
}

.section + .section {
  margin-top: 24px;
}

.section-title {
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.post-entry {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.entry-title {
  max-width: calc(100% - 120px);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.entry-time {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.3);
}

.entry-link {
  position: absolute;
  inset: 0;
}

.post-title {
  font-size: 26px;
  letter-spacing: 0.5px;
}

.post-time {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.3);
}

.post-content {
  margin-top: 32px;
  margin-bottom: 80px;
  // font-size: 18px;
  letter-spacing: 0.5px;
}

.post-content h1,
.post-content h2 {
  margin-top: 64px;
  margin-bottom: 8px;
  font-size: 28px;
}

.post-content h1:first-child,
.post-content h2:first-child {
  margin-top: 0;
}

.post-content p {
  margin-bottom: 32px;
}

.post-content blockquote {
  padding: 0 0 3px 20px;
  margin: 0 0 32px -23px;
  font-style: italic;
  border-left: 3px solid #000;
}

.post-content blockquote p:last-child {
  margin-bottom: 0;
}

.post-content hr {
  width: 64px;
  height: 1px;
  margin: 72px auto;
  background: rgba(0, 0, 0, 0.1);
  border: 0;
}

.post-content img {
  display: block;
  max-width: 100%;
  margin: 0 auto 40px;
}

.post-content iframe {
  display: block;
  width: 100%;
  margin-block: 48px;
  background: rgba(0, 0, 0, 0.1);
}

.post-content iframe:first-child {
  margin-top: 0;
}

.post-content p a {
  padding-bottom: 1px;
  border-bottom: 1px solid #000;
}

.post-nav,
.page-navigator {
  background: #222;
}

.post-nav {
  padding: 24px;
}

.post-nav li {
  margin-block: 24px;
  text-align: center;
}

.post-nav span {
  display: block;
  margin-bottom: 6px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.post-nav a {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.5px;
}

.post-nav img {
  display: block;
  width: 160px;
  height: 160px;
  padding-top: 12px;
  padding-bottom: 32px;
  margin-inline: auto;
}

.page-navigator {
  padding: 24px;
  margin-top: 64px;
  text-align: center;
}

.page-navigator li {
  display: inline-block;
  margin-inline: 8px;
}

.page-navigator li a {
  font-size: 18px;
  font-weight: 700;
}

.page-navigator li.current a {
  color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .main {
    padding-inline: 20px;
    margin-block: 24px;
  }

  .section {
    margin-inline: -20px;
  }

  .section + .section {
    margin-top: 20px;
  }

  .section-title {
    font-size: 17px;
  }

  .post-entry {
    display: block;
  }

  .entry-title {
    max-width: 100%;
    font-size: 17px;
    letter-spacing: 0;
  }

  .entry-time {
    font-size: 14px;
  }

  .post-title {
    letter-spacing: 0;
  }

  .post-time {
    font-size: 14px;
  }

  .post-content {
    margin-top: 24px;
    margin-bottom: 64px;
  }

  .post-content * {
    font-size: 17px;
  }

  .post-content h1,
  .post-content h2 {
    margin-top: 48px;
    margin-bottom: 8px;
    font-size: 24px;
  }

  .post-content p {
    margin-bottom: 24px;
  }

  .post-content hr {
    margin: 64px auto;
  }

  .post-content img {
    margin: 36px auto;
  }

  .post-content iframe {
    width: auto;
    height: auto;
    margin: 36px auto;
  }

  .post-content p a {
    background-position: 0 26px;
  }

  .post-nav a {
    font-size: 24px;
  }

  .page-navigator {
    margin-top: 40px;
  }

  .page-navigator li a {
    font-size: 17px;
    font-weight: 400;
  }
}

/* 404
-------------------------------------------------- */
.error-page .post-title {
  margin-bottom: 40px;
  font-size: 80px;
  text-align: center;
}

.error-page form {
  display: flex;
}

.error-page input {
  width: 100%;
  height: 32px;
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #eee;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* Footer
-------------------------------------------------- */
.footer {
  max-width: 640px;
  padding-top: 12px;
  padding-bottom: 80px;
  margin: auto;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.footer li {
  display: inline-block;
  margin-inline: 3px;
}

@media (max-width: 1024px) {
  .footer {
    padding-bottom: 64px;
    font-size: 13px;
  }
}

#TableOfContents ul {
  background: #f3f3f3;
  padding: 15px;
  border-radius: 6px;
  list-style: none;
}

.github {
  position: absolute;
  bottom: calc(var(--safe-bottom) + 10rem);
  padding-bottom: 3px;
  padding-left: 1px;
  font-family: Monaco, monospace;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 0.5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.iframe {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* search */
.search-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.4);
  z-index: 99;
  display: none;
}
#search {
  display: none;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 10vh;
  background: #fff;
  width: 600px;
  z-index: 100;
  padding: 15px;
  box-shadow: -2px 2px 14px 3px rgb(66 66 66 / 37%);
  border-radius: 5px;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  height: 36px;

  #searchTerm {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 0 15px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  }
}

#resultsContainer {
  margin-top: 20px;
  overflow: auto;
  max-height: 75vh;

  &::-webkit-scrollbar {
    width: 18px;
    height: 18px;
    background: #f2f2f2;
  }

  &::-webkit-scrollbar-thumb {
    background: #c8c8c8;
  }

  &::-webkit-scrollbar-thumb {
    transition: border-width 0.5s;
    border: 5px solid rgba(0, 0, 0, 0);
    border-radius: 0.8em;
    background-clip: padding-box;
  }

  .hint {
    text-align: center;
  }

  div {
    margin-bottom: 10px;
    margin: 0;

    a {
      display: block;
      width: 100%;
      padding: 6px 10px;
      transition: all 0.1s linear;
      border-radius: 4px;
      box-sizing: border-box;

      &:hover {
        background: #f3f3f3;
      }
    }
  }
}

@media (max-width: 600px) {
  #search {
    width: 95%;
    margin: 0 auto;
  }
}
