{{ partial "header.html" . }}
{{ if .Data.Term}}
<div class="post-header">
  <h1 class="post-title">正在查看【{{.Data.Term}}】文章</h1>
</div>
{{ else }}
<div class="post-header">
  <h1 class="post-title">归档</h1>
</div>
{{ end }}
<article>
  <div class="post-box wow animate__animated animate__fadeIn">
    <h1 class="post-title">分类</h1>
    <div class="cate">
      {{ range .Site.Taxonomies.categories }}
      <a href="{{ .Page.Permalink }}">{{ .Page.Title }} ({{ .Count }})</a>
      {{ end }}
    </div>

    <h1 class="post-title">标签</h1>
    <div class="tags">
      {{ range .Site.Taxonomies.tags }}
      <a href="{{ .Page.Permalink }}"><span>{{ .Page.Title }}</span> <sup>{{ .Count }}</sup></a>
      {{ end }}
    </div>
    <hr>
    <div id="posts-list" class="markdown-body">
      {{ range (where .Data.Pages "Type" "in" site.Params.mainSections).GroupByDate "2006" -}}
      <section>
        <h1 class="site-date-catalog">{{ .Key }}</h1>

        {{ range .Pages }}
        <div class="posts-list">
          <a class="posts-title" href="{{ .RelPermalink }}">
            <span>{{ .Title }}</span>
            <time class="posts-date" datetime="{{ .Date.Format " 2006-01-02 15:04:05 MST" }}">
              {{ .Date.Format "2006-01-02"}}</time>
          </a>
        </div>
        {{ end }}
      </section>
      {{ end }}
    </div>
  </div>
  {{ partial "footer.html" . }}