<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  <div class="opacity"></div>
  <header>
    <div class="container">
      <div class="header-item">
        <a href="/" class="header-title">{{ .Site.Params.author }}</a>
      </div>
      <div class="menu-btn">菜单</div>
      <div class="header-item sticky">
        <ul id="navi">
          <li>
            <a href="/">首页</a>
          </li>
          {{ range .Site.Params.socials }}
          <li>
            <a href="{{ .link }}">{{ .name }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </header>

  <div class="body">