{{ partial "header.html" . }}
<article>

  <div id="posts-list">
    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $projects := where .Site.RegularPages "Section" "projects" }}
    {{ $pages = .Paginate ($pages) }}
    {{ $archivesPage := first 2 (where .Site.RegularPages "Layout" "eq" "archives") }}

    {{ range $pages.Pages }}
    <div class="posts-line">
      <div class="posts-wrap">
        <a class="posts-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
        <time datetime="{{ .Date.Format " 2006-01-02 15:04:05 MST" }}">{{ .Date.Format "2006年1月2日"}}</time>
      </div>
      <div class="markdown-body posts-content">
        {{ .Content | truncate 100 }}
      </div>
    </div>
    {{ end }}
  </div>

  <!-- pagination -->
  {{ partial "pagination.html" . }}
  {{ partial "footer.html" . }}